In [2]:
import pandas as pd

In [10]:
cont_df = pd.read_csv("C:/Users/lravlic/PROYECTOS DATA/TRANSITO SQL/Z_CONT.csv", dtype={'NRO_OC_SAP':'str','POS_OC_SAP':'str', 'NRO_MIRO':'str'})

In [11]:
cont_df.head()

,NRO_OC_SAP,POS_OC_SAP,NRO_MIRO,IND_BORRADO_OC,IND_BORRADO_PO,IND_BORRADO_SP,CANT_UN_OC,CANT_FACTURA,CANTIDAD_BO,VIA_TEXTO,FE_CONFIRMACION,FE_ATA
0,4300018809,00040,5106458226,NaN,NaN,NaN,1.0,1.0,0,Courier,2023-01-05,2023-01-20
1,4300018958,00040,5106472753,NaN,NaN,NaN,1.0,1.0,0,Aéreo,2023-01-19,2023-02-18
2,4300020185,00010,5106527617,NaN,NaN,NaN,1.0,1.0,0,Courier,NaN,2023-05-01
3,4300020483,00400,5106550640,NaN,NaN,NaN,1.0,1.0,0,Courier,NaN,2023-06-10
4,4300020483,00070,5106550895,NaN,NaN,NaN,1.0,1.0,0,Courier,NaN,2023-06-10