In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras KPI-Reportes/Forecast Error (Python)/OEM/Base Forecast Error/Forecast Error OEM Febrero 2024.xlsx")

In [3]:
df.head()

,ID2,Periodo,Unnamed: 2,Unnamed: 3,UE_2,fc,fc_anas,Venta,Prom.,Total instock,...,WMAPE,WMAPE.1,Mes,Costo Control Gestión,Costo de Venta,Forecast en Costo,MAPE Costo,ERP Costo,ERN Costo,WMAPE Costo
0,0000000190-OP1CL CES 01,N-1,0000000190-OP1CL CES 01N-1,NaN,0000000190-OP1,0.0,0.0,0.0,0.0,0,...,NaN,NaN,2024-01-02,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,0000000190-OP1CL CES 01,N-4,0000000190-OP1CL CES 01N-4,NaN,0000000190-OP1,0.0,0.0,0.0,0.0,0,...,NaN,NaN,2024-01-02,101681.0,0.0,0.0,0.0,0.0,0.0,NaN
2,0000000244CL CES 01,N-1,0000000244CL CES 01N-1,NaN,0000000244,0.0,0.0,0.0,0.0,0,...,NaN,NaN,2024-01-02,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,0000000244CL CES 01,N-4,0000000244CL CES 01N-4,NaN,0000000244,0.0,0.0,0.0,0.0,0,...,NaN,NaN,2024-01-02,89916.0,0.0,0.0,0.0,0.0,0.0,NaN
4,0000000249CL CES 01,N-1,0000000249CL CES 01N-1,NaN,0000000249,0.0,0.0,0.0,0.0,0,...,NaN,NaN,2024-01-02,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [5]:
df.drop(columns=['Unnamed: 2',	'Unnamed: 3'], inplace=True)

In [6]:
df.head()

,ID2,Periodo,UE_2,fc,fc_anas,Venta,Prom.,Total instock,MAPE_AJUSTADO,ERP,...,WMAPE,WMAPE.1,Mes,Costo Control Gestión,Costo de Venta,Forecast en Costo,MAPE Costo,ERP Costo,ERN Costo,WMAPE Costo
0,0000000190-OP1CL CES 01,N-1,0000000190-OP1,0.0,0.0,0.0,0.0,0,0.0,0.0,...,NaN,NaN,2024-01-02,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,0000000190-OP1CL CES 01,N-4,0000000190-OP1,0.0,0.0,0.0,0.0,0,0.0,0.0,...,NaN,NaN,2024-01-02,101681.0,0.0,0.0,0.0,0.0,0.0,NaN
2,0000000244CL CES 01,N-1,0000000244,0.0,0.0,0.0,0.0,0,0.0,0.0,...,NaN,NaN,2024-01-02,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,0000000244CL CES 01,N-4,0000000244,0.0,0.0,0.0,0.0,0,0.0,0.0,...,NaN,NaN,2024-01-02,89916.0,0.0,0.0,0.0,0.0,0.0,NaN
4,0000000249CL CES 01,N-1,0000000249,0.0,0.0,0.0,0.0,0,0.0,0.0,...,NaN,NaN,2024-01-02,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [7]:
df.to_excel("C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras KPI-Reportes/Forecast Error (Python)/OEM/Base Forecast Error/Recuperacion.xlsx")